@page
@model Proiect.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Car Details</h1>
    <div class="card">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">Manufacturer</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Car.Manufacturer)</dd>
                <dt class="col-sm-4">Model</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Car.Model)</dd>
                <dt class="col-sm-4">Year</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Car.Year)</dd>
                <dt class="col-sm-4">Number of Kilometers</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Car.NumberOfKilometers)</dd>
                <dt class="col-sm-4">Dealer Name</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Car.DealerName)</dd>
            </dl>
        </div>
    </div>

    <div class="text-center mt-3">
        <a asp-page="./Edit" asp-route-id="@Model.Car?.Id" class="btn btn-primary">Edit</a>
        <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
