@page
@model Proiect.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form method="post" asp-page-handler="Logout">
    <button type="submit" class="btn btn-danger">Logout</button>
</form>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].NumberOfKilometers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].DealerName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Car) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfKilometers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DealerName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>